
<div class="gal">
<h1>Gallery of Foods</h1>
<div class="container">
    
    <div class="row">
      <div class="col-md-3"> <img [src]=Photo>
        <h4>GainAm Special</h4>
    </div>
      <div class="col-md-3"><img [src]=Photo1>
      <h4>Pasta Basta</h4>
    </div>
      <div class="col-md-3"><img [src]=Photo2>
        <h4>Saucy Meat ball</h4>
    </div>
      <div class="col-md-3"><img [src]=Photo3>
        <h4>Baked Salmon</h4>
    </div>
      
    </div>
    <div class="row">
        <div class="col-md-3"> <img [src]=Photo4>
          <h4>Pineapple Chicken</h4>
      </div>
        <div class="col-md-3"><img [src]=Photo5>
            <h4>Tawhid's Chicken</h4>
        </div>
        <div class="col-md-3"><img [src]=Photo6>            
            <h4>Baked Chicken</h4>
        </div>
        <div class="col-md-3"><img [src]=Photo7>
            <h4>Sauted Broc Chicken</h4>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-3"> <img [src]=Photo9>
          <h4>Masud Special</h4>
      </div>
        <div class="col-md-3"><img [src]=Photo10>
        <h4>Joy's Cake</h4>
        </div>
        <div class="col-md-3"><img [src]=Photo11>
        <h4>Rahman's Egg</h4>
        </div>
        <div class="col-md-3"><img [src]=Photo3>
        <h4>Baked Tuna</h4>
        </div>
      </div>
    </div>
    </div>
